footer
    background #333333
    border-top 1px solid $azulMedio
    .center
        display flex
        padding $rem(40) 0
    .links
        a
            display block
            opensans 14
            color #fff
            padding-left 1em
            text-transform uppercase
            background $img('seta-rodape.png') no-repeat left center
            transition color .3s, background .2s
            + a
                margin-top 1em
            &:hover
                color $verdeClaro
                background-position 2px center
        + .links
            margin 0 $rem(80)
    .informacoes
        color #fff
        .telefone
            opensans 16 bold
            margin 0 0 .5em
            line-height 1
        .endereco
            opensans 16
            margin 0 0 1em
        .social
            font-size 0
            a
                display inline-block
                width 16px
                height 16px
                background-repeat no-repeat
                background-position center
                transition transform .3s
                + a
                    margin-left 5px
                &:hover
                    transform translateY(-2px)
                &.facebook
                    background-image $img('ico-facebook-rodape.png')
                &.instagram
                    background-image $img('ico-instagram-rodape.png')
    .copyright
        margin-left auto
        text-align right
        img
            display inline-block
            max-width 100%
        p
            opensans 10
            color #fff
            margin 2em 0 0
            a:hover
                color $verdeClaro
    +below($tablet)
        .links
            display none
    +mobile()
        .center
            display block
            padding $rem(25) 0
        .copyright
            text-align left
            margin-top $rem(35)
