header
    width 100%
    height 140px
    background $azulBg
    border-top 1px solid $azulMedio
    position relative
    z-index 102
    .center
        clearfix()
        height 100%
    .logo
        display flex
        float left
        background #fff
        height 100%
        align-items center
        padding 0 54px
        margin-left -54px
    .header-contatos
        position absolute
        right 0
        top 16px
        p
            display inline-block
            vertical-align middle
            margin 0
            opensans 16 bold
            color $azulEscuro
            padding-left 24px
            background $img('ico-telefone.png') no-repeat left center
        .social
            font-size 0
            display inline-block
            vertical-align middle
            a
                display inline-block
                width 16px
                height 16px
                background-repeat no-repeat
                background-position center
                transition transform .3s
                &:first-child
                    margin-left 50px
                + a
                    margin-left 5px
                &:hover
                    transform translateY(-2px)
                &.facebook
                    background-image $img('ico-facebook.png')
                &.instagram
                    background-image $img('ico-instagram.png')
    #nav-desktop
        display flex
        align-items center
        float right
        margin-top 75px
        > a
        .dropdown span
            display block
            exo 14
            color $azulEscuro
            text-transform uppercase
            margin-right $rem(40)
            cursor pointer
            height 26px
            line-height 26px
            &:hover
            &.active
                color $verde
            &.active
                font-weight bold
        .dropdown
            position relative
            &:hover
                span
                    color $verde
                .dropdown-items
                    opacity 1
                    visibility visible
                    top 100%
        .dropdown-items
            position absolute
            border 1px solid $verde
            background $azulBg
            left -10px
            top 120%
            opacity 0
            visibility hidden
            transition all .3s
            > a
                display block
                padding 5px 10px
                padding-right 16px
                exo 14
                color $azulEscuro
                text-transform uppercase
                transition color .3s, background .3s
                white-space nowrap
                &:hover
                &.active
                    background $verde
                    color #fff
        .header-busca
            margin 0
            background $img('ico-buscar.png') no-repeat center $verdeClaro
            font-size 0
            width 40px
            height 25px
            border 1px solid #fff
            border-radius 10px
            transition background .3s
            &:hover
                background-color #fff
    #mobile-toggle
        display none
        margin-left auto
        background transparent
        border 0
        width 28px
        height 22px
        margin-top 75px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $azulEscuro
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $azulEscuro
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        display none
        background $azulEscuro
        padding $rem(30) 5%
        text-align right
        a
            display block
            exo 16
            color #fff
            text-transform uppercase
            margin-top 5px
            &.active
                color $verdeClaro
        > a:first-child
            margin-top 0
        .dropdown span
            display none
    +above($tablet)
        #nav-mobile
            display none !important
    +below($tablet)
        height auto
        .center
            height 140px
        #nav-desktop
            display none
        #mobile-toggle
            display block
    +mobile()
        .logo
            padding 0 25px
            margin-left -25px
            img
                width 140px
        .header-contatos
            p
                display block
            .social
                display block
                text-align right
                margin-top 5px
        #mobile-toggle
            margin-top 88px
