.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    margin $rem(54) 0 $rem(80)
    h1
        exo 36 light
        color $azul
        margin 0 0 .5em
        text-transform uppercase
    +mobile()
        margin $rem(30) 0 $rem(45)
        h1
            font-size 28px

.texto
    color $azulEscuro
    p
        exo 16
    img
        max-width 100%
        display block
    ul
        padding 0
        list-style-type none
        li
            padding-left 1em
            exo 16
            position relative
            &:before
                content '\00b7'
                position absolute
                left 0
            + li
                margin-top .4em
    *:first-child
        margin-top 0
    *:last-child
        margin-bottom 0

.busca-avancada
    background $azulBg
    padding $rem(50) 0 $rem(40)
    .box
        border 1px solid $azul
        position relative
        padding $rem(36) $rem(28) $rem(20)
    h2
        display inline-block
        position absolute
        top 0
        left 50%
        transform translate(-50%, -52%)
        background $azulBg
        margin 0
        exo 22 light
        color $azul
        padding 0 $rem(25)
        text-transform uppercase
        text-align center
    h3
        exo 14
        color $azul
        margin 0 0 .8em
        text-transform uppercase
    .row + .row
        margin-top $rem(40)
    form
        display flex
        align-items center
    input[type=text]
    .select2-container--gapbr
    select
        height 38px
        background #fff
        outline 0
        border 0
        exo 16
        color $azulEscuro
        padding 0 10px
    input[type=text]
        flex 0 1 $rem(200)
        margin-right 10px
        min-width 0
    hr
        display none
    .select2-container--gapbr
        display block
        appearance none
        cursor pointer
        background $img('seta-combobox-busca.png') no-repeat right 10px center #fff
        padding 0
        flex 0 1
        width auto
        min-width 0
        margin-left 10px
        .select2-selection
            height 100%
            outline 0
            padding-left 10px
            padding-right 20px
            &__rendered
                height 100%
                line-height 38px
                padding 0
                outline 0
    select
        &[name=marca] + .select2-container--gapbr
            flex-basis $rem(200)
        &[name=modelo] + .select2-container--gapbr
            flex-basis $rem(250)
        &[name=ano] + .select2-container--gapbr
            flex-basis $rem(120)
        &[name=linha] + .select2-container--gapbr
            flex-basis $rem(300)
            margin-right 10px
    input[type=submit]
        background $img('ico-buscar.png') no-repeat center $verdeClaro
        font-size 0
        width 60px
        height 36px
        border 1px solid #fff
        border-radius 36px
        transition background .3s
        cursor pointer
        flex 0 0 60px
        outline 0
        &:hover
            background-color #fff
    label
        exo 14
        color $azulEscuro
        text-transform uppercase
        margin-left auto
        &:first-child
            margin-left 0
    +tablet()
        form
            flex-wrap wrap
        hr
            width 100%
            display block
            border 0
            margin 5px 0
        label
            margin-left 0
    +mobile()
        h2
            white-space nowrap
        form
            display block
        .row + .row
            margin-top 20px
        input[type=text]
        .select2-container--gapbr
            width 100% !important
            margin 0 0 5px
        label
            display block
            margin 15px 0 5px
            &:first-child
                margin-top 0

.busca-conteudo form
    justify-content center
    input[type=text]
        flex-basis $rem(400)

.busca-modal
    position absolute
    top 0
    left 0
    z-index 103
    width 100%
    box-shadow 0 10px 10px rgba(#000, .3)
    opacity 0
    visibility hidden
    transform translateY(-100%)
    transition all .3s
    .busca-avancada + .busca-avancada
        padding-top $rem(10)
    &.open
        opacity 1
        visibility visible
        transform none

.select2-container--gapbr
    z-index 103
    .select2-search__field
        outline 0
        exo 16
        color $azulEscuro
        border 1px solid #ddd
    .select2-dropdown
        border 0
        box-shadow 0 2px 3px rgba(#000, .15)
    .select2-results__options li
        exo 15
        color #333
        transition color .3s
        &.select2-results__option--highlighted
            background #eee
        &[aria-selected=true]
            color $azulEscuro
            font-weight bold
    .select2-results__message
        exo 14
        color #666
