desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azulBg     = #EBF0F0
$azul       = #318FFF
$azulMedio  = #4A7CA1
$azulEscuro = #285995
$verde      = #079953
$verdeClaro = #CCFF66

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,700|Open+Sans:400,700&display=swap')

opensans($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

exo($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
