.painel-login
    background linear-gradient(90deg, #185a9d 10%, #43cea2 120%)
    .login
        padding 30px
        background #fff
        border-radius 5px
        margin 100px auto 0
        float none
        box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .5)
        +below(768px)
            margin-top 30px
    .input-group
        margin-bottom 5px
    h3
        margin 0 0 30px
        small
            display block
            margin-top 10px

td
    vertical-align middle !important

.cke
    border 2px solid #dce4ec !important
    border-radius 4px
    transition border .3s !important
.cke_editable
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    font-size 15px !important
.cke_focus
    border-color #2c3e50 !important

.multiselect
    text-align left !important

.select2{
    width: 100% !important;
}

.select2-selection {
    border-width: 2px !important;
    box-shadow: none !important;
    color: #2c3e50 !important;
    border-color: #0054a0 !important;
    border: 2px solid #dce4ec !important;
    border-radius: 4px !important;
    height: 45px !important;
    padding: 10px 15px !important;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    font-family: inherit !important;
}

.select2-container--focus, .select2-container--open {
    .select2-selection {
        border-color #2c3e50 !important
    }
}

.select2-container--default .select2-selection:focus{
    border-bottom-width: 2px !important;
    outline: none !important;
}

.select2-dropdown {
  border: 2px solid #dce4ec !important;
  margin-top: 0 !important;
}

.select2-selection__rendered{
    color: #2c3e50 !important;
    padding-left: 0px !important;
}
