.busca
    h1
        small
            color $azulEscuro
            text-transform none
            font-size .65em
            display block
            margin-top .3em
    .nenhum
        width 100%
        border 1px solid rgba($azulEscuro, .45)
        padding 15px
        exo 14
        color $azulEscuro
    .busca-resultados
        margin-top $rem(45)
        a
            display block
            border-top 1px solid $azulBg
            padding $rem(20) 10px
            transition background .3s
            &:hover
                background rgba($azulBg, .5)
                .titulo
                    color $azulEscuro
            &:last-child
                border-bottom 1px solid $azulBg
            .secao
                exo 10 bold
                color $azul
                text-transform uppercase
                display block
                margin-bottom .6em
            .titulo
                exo 22 light
                color $verde
                display block
                transition color .3s
