.catalogo
    border-top 2px solid #fff
    h1
        text-align center
        font-size $rem(42)
        margin-bottom 1.2em
        +mobile()
            font-size 28px
    .nenhum
        width 100%
        border 1px solid rgba($azulEscuro, .45)
        padding 15px
        exo 14
        color $azulEscuro
    .pagination
        border-top 1px solid $azul
        margin-top $rem(45)
        padding 0
        padding-top $rem(45)
        list-style-type none
        text-align center
        li
            display inline-block
            exo 16
            color $azulEscuro
            margin 0 5px
            padding 3px
            &.active
                font-weight bold
                border-bottom 2px solid $verde
            &.disabled
                display none
    .produtos-thumbs
        font-size 0
        margin-bottom -25px
        text-align left
        a
            display inline-block
            width calc('25% - 25px')
            margin-right 25px
            margin-bottom 25px
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width calc('33.333% - 16.667px')
                &:nth-child(4n)
                    margin-right 25px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 10px')
                margin-right 20px
                margin-bottom 20px
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(2n)
                    margin-right 0
            .imagem
                padding $rem(20)
                background $azulBg
                transition background .3s
                img
                    width 100%
                    display block
                    mix-blend-mode multiply
            span
                exo 20
                color $azulEscuro
                display block
                text-align center
                margin-top 12px
                text-transform uppercase
            &:hover .imagem
                background $verdeClaro
    .catalogo-produto
        clearfix()
        .imagem
            width 41.667%
            float left
            background $azulBg
            padding $rem(30)
            img
                width 100%
                display block
                mix-blend-mode multiply
        .detalhes
            width 50%
            float right
            h3
                exo 16 bold
                color $verde
                margin 0
                text-transform uppercase
            h2
                exo 24 bold
                color $azulEscuro
                margin .3em 0
                text-transform uppercase
            p
                exo 16
                color $azulEscuro
                margin 0
            .dimensoes
                margin $rem(50) 0 0
            .observacoes
                margin $rem(25) 0 0
                em
                    font-size $rem(14)
            .veiculos
                margin-top $rem(50)
                overflow auto
                table
                    min-width 500px
                    width calc('100% - 2px')
                    border-collapse collapse
                    th
                        text-align center
                        exo 14
                        font-style italic
                        color $azulEscuro
                        padding 5px
                    td
                        background $verdeClaro
                        border 1px solid $azul
                        text-align center
                        exo 16
                        color $azulEscuro
                        padding 5px
        +mobile()
            .detalhes
            .imagem
                width 100%
            .imagem
                margin-bottom 30px
