.catalogo-pdf
    .bg
        width 100%
        background $azulBg
        border-top 2px solid #fff
        text-align center
        padding $rem(45) 0 $rem(160)
    h1
        exo 42 light
        color $azul
        margin 0 0 .5em
        text-transform uppercase
    .texto
        max-width $rem(675)
        margin 0 auto
        text-align center
        p + p
            margin-top 2em
    .download
        display block
        width $rem(260)
        height $rem(260)
        margin 0 auto
        background $img('img-downloadPDF.png') no-repeat center
        background-size 100% auto
        transform translateY(-50%)
        position relative
        &:after
            content ''
            width 35px
            height 40px
            position absolute
            top 50%
            left 50%
            background $img('ico-PDF.png') no-repeat center
            transform translate(-50%, -50%)
    +mobile()
        .bg
            padding-top $rem(30)
        h1
            font-size 30px
