.contato
    margin-top 0
    .bg
        width 100%
        background $azulBg
        border-top 2px solid #fff
        padding $rem(50) 0
        .center
            height 100%
            clearfix()
    .texto
        width 30%
        float left
        color $azulEscuro
        h1
            margin-bottom 1em
    .telefone
        exo 22 bold
        margin 0
    .endereco
        exo 16
        margin 0 0 1.2em
    .atendimento
        exo 16
        span
            display block
            font-size 12px
            font-style italic
    form
        width 66.667%
        float right
        margin-top $rem(80)
        clearfix()
        .erro
        .enviado
            width 100%
            float left
            margin-bottom 12px
            padding 15px
            exo 14
            text-align center
            text-transform uppercase
        .enviado
            border 1px solid $verde
            color $verde
        .erro
            border 1px solid #ab3939
            color #ab3939
        .col
        textarea
            width calc('50% - 2.5px')
            float left
        .col
            margin-right 5px
            input
                width 100%
                display block
                border 0
                background #fff
                exo 16
                color $azulEscuro
                padding 0 10px
                height 40px
                outline 0
                + input
                    margin-top 5px
        textarea
            display block
            resize none
            border 0
            background #fff
            exo 16
            color $azulEscuro
            padding 12px 10px
            height (40*4+15)*1px
            outline 0
        input[type=submit]
            display inline-block
            float right
            border 1px solid $azulEscuro
            outline 0
            background $verdeClaro
            padding 7px 32px
            exo 14
            color $azulEscuro
            text-transform uppercase
            margin-top 5px
            cursor pointer
            border-radius 16px
            transition background .3s
            &:hover
                background #fff
    .imagem
        margin-top $rem(30)
        img
            display block
            margin 0 auto
            max-width 100%
    +below($tablet)
        .texto
        form
            width 100%
        form
            margin-top $rem(30)
    +mobile()
        .bg
            padding $rem(30) 0
        form
            .col
            textarea
                width 100%
            textarea
                margin-top 5px
