.home
    margin-bottom $rem(45)

.home .banners
    width 100%
    height 500px
    position relative
    .banner-slide
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-size cover
        background-position center
        .center
            height 100%
    .banner-texto
        width 520px
        height 300px
        position absolute
        left 60px
        top 120px
        display flex
        flex-direction column
        justify-content space-between
        &.banner-branco p
            color #fff
        p
            exo 36 light
            margin 0
            line-height 1.15
            color $azulEscuro
        a
            align-self flex-start
            padding 16px 26px 18px
            background $verdeClaro
            exo 18 bold
            color $azulEscuro
            transition background .3s
            &:hover
                background #fff
    .banner-imagens
        height 145px
        width 485px
        position absolute
        right 60px
        top 50%
        margin-top -72px
        display flex
        justify-content flex-end
        .imagem
            background $verdeClaro
            width 145px
            height 145px
            border-radius 100%
            overflow hidden
            display flex
            align-items center
            justify-content center
            margin-left 24px
            img
                width 120px
    .cycle-pager
        position absolute
        width 1080px
        bottom 18px
        left 50%
        margin-left -540px
        font-size 0
        height 5px
        overflow hidden
        display flex
        z-index 102
        span
            flex 0 1 90px
            margin-right 3px
            border 1px solid #fff
            cursor pointer
            transition background .3s
            &.cycle-pager-active
                background #fff
    .cycle-arrow
        width 21px
        height 41px
        display block
        cursor pointer
        position absolute
        z-index 102
        text-indent -9999px
        top 50%
        margin-top -20px
        &.cycle-next
            background $img('setabanner-direita.png') no-repeat center
            right 50%
            margin-right -600px
        &.cycle-prev
            background $img('setabanner-esquerda.png') no-repeat center
            left 50%
            margin-left -600px
    +below($tablet)
        .cycle-arrow
        .cycle-pager
        .banner-imagens
            display none
        .banner-texto
            width 100%
            height 100%
            position relative
            left auto
            top auto
            padding $rem(50) 0
    +tablet()
        height 300px
    +mobile()
        height 130px
        .banner-texto
            padding 30px 0
            p
                font-size 20px

.home-produtos
    margin $rem(50) 0
    .center
        clearfix()
    .texto
        width 22.5%
        float left
        h2
            exo 42 light
            color $azul
            margin 0 0 .5em
            line-height 1
            text-transform uppercase
        a
            display flex
            min-height 54px
            width 100%
            background $img('ico-docverde.png') no-repeat 14px center $verdeClaro
            padding 10px 60px
            padding-right 10px
            align-items center
            transition background .3s
            span
                exo 16 bold
                color $azulEscuro
                text-transform uppercase
                transition color .3s
            &:hover
                background-color $azulEscuro
                span
                    color #fff
    .links
        width 73.333%
        float right
        margin-bottom -20px
        clearfix()
        &.links-col-4
            +above($mobile)
                a
                    width calc('25% - 15px')
                    &:nth-child(3n)
                        margin-right 20px
                    &:nth-child(4n)
                        margin-right 0
        a
            width calc('33.333% - 13.333px')
            margin-right 20px
            margin-bottom 20px
            float left
            position relative
            overflow hidden
            background $azulBg
            padding 30px
            img
                width 100%
                display block
            p
                display block
                position absolute
                width 100%
                height 50px
                transform skewX(-45deg)
                bottom 0
                right -25px
                background $azulEscuro
                z-index 2
                margin 0
                padding-right 45px
                padding-left 30px
                span
                    display block
                    width 100%
                    transform skew(45deg)
                    line-height 50px
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                    text-align right
                    exo 20
                    color #fff
                    text-transform uppercase
            &:nth-child(3n)
                margin-right 0
            &:before
                content ''
                position absolute
                top 0
                left 0
                z-index 2
                width 0
                height 0
                border-style solid
                border-width 50px 50px 0 0
                border-color $azul transparent transparent transparent
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($verdeClaro, .45)
                z-index 1
                opacity 0
                transition opacity .3s
            &:hover:after
                opacity 1
    +tablet()
        .texto
            width 100%
            margin-bottom 30px
        .links
            width 100%
            a p span
                font-size 16px
    +mobile()
        margin 30px 0
        .texto
            width 100%
            margin-bottom 20px
        .links
            width 100%
            margin-bottom -10px
            a
                width calc('50% - 5px')
                margin-right 10px
                margin-bottom 10px
                &:nth-child(3n)
                    margin-right 10px
                &:nth-child(2n)
                    margin-right 0
                p
                    transform none
                    right 0
                    padding 0 10px
                    height 40px
                    span
                        transform none
                        font-size 14px
                        line-height 40px


.home .newsletter
    background $verdeClaro
    .center
        padding $rem(30) 0
    form
        display flex
        align-items center
        p
            margin 0
            exo 20 light
            color $azulEscuro
            text-transform uppercase
            margin-right 15px
            span
                font-size $rem(28)
        input[type=text]
        input[type=email]
        select
            flex 1
            margin 0 5px
            background #fff
            padding 0 10px
            exo 16
            color $azulEscuro
            appearance none
            height 36px
            outline 0
            border 0
        select
            cursor pointer
            background $img('seta-combobox-busca.png') no-repeat right 10px center #fff
            padding-right 20px
        input[type=submit]
            border 1px solid $azulEscuro
            height 32px
            padding 0 16px
            margin-left 5px
            exo 14
            text-transform uppercase
            color $azulEscuro
            background transparent
            transition background .3s
            cursor pointer
            border-radius 20px
            outline 0
            &:hover
                background #fff
    +tablet()
        form
            flex-wrap wrap
            p
                width 100%
                margin-bottom 10px
    +mobile()
        form
            display block
            p
                line-height 1
                margin-bottom 10px
                span
                    display block
            input[type=text]
            input[type=email]
            select
                width 100%
                margin 0 0 5px
            input[type=submit]
                width 100%
                margin 5px 0 0

.home-novidades
    margin $rem(145) 0 $rem(80)
    .center
        clearfix()
    .texto
        width 22.5%
        float left
        h2
            exo 42 light
            color $azul
            margin 0 0 .5em
            line-height 1
            text-transform uppercase
    .links
        width 73.333%
        float right
        clearfix()
        a
            width calc('50% - 10px')
            margin-right 20px
            float left
            position relative
            overflow hidden
            img
                width 100%
                display block
            p
                display block
                position absolute
                width 100%
                height 50px
                transform skewX(-45deg)
                bottom 0
                right -25px
                background $verdeClaro
                z-index 2
                margin 0
                padding-right 45px
                padding-left 30px
                span
                    display block
                    width 100%
                    transform skew(45deg)
                    line-height 50px
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                    text-align right
                    exo 16
                    color $azulEscuro
                    text-transform uppercase
            + a
                margin-right 0
            &:before
                content ''
                position absolute
                top 0
                left 0
                z-index 2
                width 0
                height 0
                border-style solid
                border-width 50px 50px 0 0
                border-color $azul transparent transparent transparent
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($verdeClaro, .45)
                z-index 1
                opacity 0
                transition opacity .3s
            &:hover:after
                opacity 1
    +tablet()
        .texto
            width 100%
            margin-bottom 30px
        .links
            width 100%
    +mobile()
        margin 30px 0
        .texto
            width 100%
            margin-bottom 20px
        .links
            width 100%
            a
                width 100%
                + a
                    margin-top 10px

.home-chamadas
    background $azulMedio
    border-top 2px solid $verde
    min-height 310px
    .center
        position relative
        padding $rem(45) 0 $rem(30)
    img
        position absolute
        top 12px
        left 0
    .chamadas
        display flex
        width calc('100% - 385px')
        height 100%
        margin-left auto
        > div
            margin 0 30px
            text-align center
            span
                display block
                width 60px
                height 60px
                background $verdeClaro
                color $azul
                border-radius 100%
                line-height 60px
                exo 28 bold
                margin 0 auto
            p
                margin 1em 0 0
                exo 20
                color #fff
    +tablet()
        min-height auto
        .center
            padding $rem(30) 0
        img
            display none
        .chamadas
            width 100%
    +mobile()
        min-height auto
        .center
            padding 25px 0
        img
            display none
        .chamadas
            display block
            width 100%
            > div
                margin 0
                + div
                    margin-top 25px
