.novidades
    margin-bottom $rem(80)
    +mobile()
        margin-bottom $rem(45)
    .center
        clearfix()
    a.capa:hover .titulo h2
        color $azulEscuro
    .capa
        display block
        background $azulBg
        border-top 2px solid #fff
        .center
            display flex
            +mobile()
                flex-wrap wrap
        .titulo-wrapper
            width 48%
            display flex
            flex-direction column
            +mobile()
                width 100%
            h1
                exo 42 light
                color $azul
                margin $rem(60) 0
                line-height 1
                text-transform uppercase
                +mobile()
                    margin $rem(30) 0
                    font-size 32px
            .titulo
                align-self flex-end
                margin-top auto
                margin-right $rem(24)
                margin-bottom $rem(24)
                max-width $rem(400)
                border-top 1px solid $azul
                text-align right
                padding-top $rem(20)
                +mobile()
                    align-self flex-start
                    max-width 100%
                    width 100%
                    text-align left
                .categoria
                    display inline-block
                    exo 14 bold
                    color $azulEscuro
                    background $verdeClaro
                    padding 10px
                    margin-bottom $rem(20)
                    text-transform uppercase
                h2
                    display block
                    exo 22
                    color $verde
                    margin 0
                    transition color .3s
                .mais
                    display inline-block
                    exo 10 bold
                    color $azul
                    padding-right 12px
                    background $img('seta-leiamais.png') no-repeat right 1px center
                    margin-top $rem(20)
                    height 7px
                    line-height 7px
        .imagem
            align-self flex-end
            width 52%
            margin-left auto
            position relative
            +mobile()
                width 100%
            img
                width 100%
                display block
            span
                position absolute
                bottom 8px
                right 8px
                exo 11 bold
                color #fff
                text-shadow 0 1px #000
    aside
        width 36.667%
        float left
        padding $rem(22) 0
        +mobile()
            width 100%
            padding-bottom 0
        .busca
            width 100%
            height 36px
            position relative
            input[type=text]
                width 100%
                height 100%
                background $verdeClaro
                border-radius 20px
                border 0
                outline 0
                exo 16
                color $azulEscuro
                padding 0 18px
                padding-right 45px
                +placeholder()
                    color rgba(#000, .35)
            input[type=submit]
                width 45px
                height 36px
                position absolute
                top 0
                right 0
                z-index 2
                border 0
                outline 0
                background $img('ico-buscar.png') no-repeat center transparent
                cursor pointer
        nav
            margin-top $rem(30)
            clearfix()
            a
                display inline-block
                float left
                clear left
                background $img('seta-categoriasBlog.png') no-repeat 8px center $azulBg
                exo 14
                color $azulEscuro
                padding 8px
                padding-left 24px
                text-transform uppercase
                transition color .3s, background .3s
                + a
                    margin-top 5px
                &:hover
                &.active
                    background-color $azul
                    color #fff
        #form-newsletter
            margin-top $rem(60)
            background $verdeClaro
            padding $rem(20)
            clearfix()
            p
                display block
                float left
                margin 0
                exo 20 light
                color $azulEscuro
                text-transform uppercase
                margin-right 15px
                line-height 1
                span
                    font-size $rem(28)
            .inputs
                width calc('100% - 130px')
                float left
                *
                    margin-top 5px !important
            input[type=text]
            input[type=email]
            select
                width 100%
                display block
                background #fff
                padding 0 10px
                exo 16
                color $azulEscuro
                appearance none
                height 36px
                outline 0
                border 0
            select
                cursor pointer
                background $img('seta-combobox-busca.png') no-repeat right 10px center #fff
                padding-right 20px
            input[type=submit]
                border 1px solid $azulEscuro
                height 32px
                padding 0 16px
                exo 14
                text-transform uppercase
                color $azulEscuro
                background transparent
                transition background .3s
                cursor pointer
                border-radius 20px
                outline 0
                float right
                margin-left 10px
                margin-top 91px
                &:hover
                    background #fff
            +below($tablet)
                p span
                    display block
                .inputs
                    width 100%
                input[type=submit]
                    margin 5px 0 0
                    float left
                    width 100%
    .novidades-posts-wrapper
        width 52%
        float right
        padding $rem(22) 0
        +mobile()
            width 100%
        .nenhum
            width 100%
            border 1px solid rgba($azulEscuro, .45)
            padding 15px
            exo 14
            color $azulEscuro
    .novidades-ver-mais
        display inline-block
        margin-top $rem(40)
        background $img('seta-carregarmais.png') no-repeat right 10px center  $verdeClaro
        padding 10px
        padding-right 25px
        border 1px solid $verdeClaro
        exo 14 bold
        color $azul
        transition background .3s
        &:hover
            background-color #fff
    .novidades-posts
        display flex
        flex-wrap wrap
        > div
            display flex
            flex-wrap wrap
            margin-top 10px
            +below($tablet)
                margin-top 20px
        a.top4
            width calc('50% - 5px')
            margin-right 10px
            margin-bottom $rem(50)
            margin-top $rem(-12)
            &:nth-child(2n)
                margin-right 0
            +below($tablet)
                width 100%
                margin-right 0
                margin-top 0
                margin-bottom 20px
            .imagem
                width 100%
                position relative
                img
                    width 100%
                    display block
                .categoria
                    display inline-block
                    background $verdeClaro
                    padding 8px
                    exo 10 bold
                    color $azulEscuro
                    text-transform uppercase
                    position absolute
                    top 0
                    right 0
                .data
                    position absolute
                    bottom 8px
                    right 8px
                    exo 10 bold
                    color #fff
                    text-shadow 0 1px #000
            .titulo
                margin-top $rem(10)
                h5
                    exo 18 light
                    color $verde
                    margin 0
                .mais
                    white-space nowrap
                    display inline-block
                    exo 10 bold
                    color $azul
                    padding-right 12px
                    background $img('seta-leiamais.png') no-repeat right 1px center
                    margin-top $rem(15)
                    height 7px
                    line-height 7px
        a.thumb
            width 100%
            background $azulBg
            position relative
            display flex
            &:hover
                h5
                    color $azulEscuro !important
            + a.thumb
                margin-top 10px
            .imagem
                align-self flex-start
                flex 0 0 196px
                position relative
                img
                    width 100%
                    display block
                .data
                    position absolute
                    bottom 8px
                    right 8px
                    exo 10 bold
                    color #fff
                    text-shadow 0 1px #000
            .thumb-texto
                flex 1
                display flex
                flex-direction column
                .categoria
                    display inline-block
                    background $verdeClaro
                    padding 8px
                    exo 10 bold
                    color $azulEscuro
                    text-transform uppercase
                    align-self flex-start
                .titulo
                    display flex
                    flex 1
                    margin 14px
                    h5
                        flex 1
                        margin 0
                        exo 18 light
                        color $verde
                        transition color .3s
                    .mais
                        align-self flex-end
                        margin-left $rem(40)
                        white-space nowrap
                        flex 0 0
                        display inline-block
                        exo 10 bold
                        color $azul
                        padding-right 12px
                        background $img('seta-leiamais.png') no-repeat right 1px center
                        margin-top $rem(20)
                        height 7px
                        line-height 7px
            +tablet()
                .thumb-texto
                    flex-shrink 1
                    width calc('100% - 196px')
                    .titulo
                        display block
                        .mais
                            margin-left 0
            +mobile()
                display block
                background #fff
                + a.thumb
                    margin-top 20px
                .categoria
                    position absolute
                    top 0
                    right 0
                .thumb-texto
                    display block
                    .titulo
                        display block
                        margin .625rem 0 0
                        .mais
                            margin-left 0
                            margin-top .9375rem
    article
        width 52%
        float right
        padding $rem(22) 0
        .texto a
            color $verde
            &:hover
                text-decoration underline
        +mobile()
            width 100%
        .voltar
            margin-top $rem(50)
            a
                display inline-block
                padding 10px
                background $img('seta-voltar.png') no-repeat 10px center $verdeClaro
                color $azul
                exo 14 bold
                padding-left 25px
                border 1px solid $verdeClaro
                transition background .3s
                &:hover
                    background-color #fff
