.produtos
    text-align center
    .texto
        max-width $rem(650)
        margin 0 auto
    h1 span
        text-transform none
.produtos-links
    margin-top $rem(60)
    display flex
    justify-content center
    flex-wrap wrap
    text-align center
    a
        max-width 195px
        margin 0 40px 40px
        &:last-child
            margin-bottom 0
        img
            display block
            width 100%
        h3
            exo 28 light
            color $azul
            margin .6em 0
            text-transform uppercase
            transition color .3s
        p
            exo 14
            margin 0
            color $azulEscuro
            transition color .3s
        &:hover
            h3
            p
                color $verde
    +mobile()
        margin-top $rem(45)
        flex-direction column
        align-items center
        a
            margin 0 0 30px
            width 100%
            h3
                font-size 22px

.produtos-categoria
    .center
        clearfix()
    .imagem
        width 25%
        float left
    .texto
        width 66.667%
        float right
        h1
            line-height 1
            margin-bottom 1em
        h3
            exo 16 bold
            color $verde
            margin 1.5em 0 .3em
            + *
                margin-top 0
        .chamada-catalogo
            margin-top $rem(45)
            p
                exo 16 bold
                color $azulEscuro
                font-style italic
                margin 0 0 1em
            a
                display flex
                max-width $rem(350)
                min-height 54px
                width 100%
                background $img('ico-docverde.png') no-repeat 18px center $verdeClaro
                padding 10px 70px
                align-items center
                transition background .3s
                span
                    exo 16 bold
                    color $azulEscuro
                    text-transform uppercase
                    transition color .3s
                &:hover
                    background-color $azulEscuro
                    span
                        color #fff
    .divider
        margin $rem(60) 0
        border-top 1px solid $azul
        float left
        width 100%
    .produtos-links
        width 100%
        float left
        margin-top 0
        a
            max-width 140px
        h3
            font-size 20px
    +mobile()
        .imagem
            display block
            float none
            width auto
            max-width 100%
            margin-bottom 25px
        .texto
            width 100%
            float none
