.qualidade
    margin-top 0
    .bg
        width 100%
        background $azulBg
        border-top 2px solid #fff
        min-height 250px
        overflow hidden
        .center
            height 100%
            clearfix()
        img
            position absolute
            top 0
            left 50%
    .texto-1
        width 45%
        float left
        padding $rem(45) 0 $rem(30)
    .bg + .center
        padding-top $rem(50)
        clearfix()
    .certificacoes-manual
        width 40.5%
        float left
    .certificacoes
        display flex
        flex-wrap wrap
        margin-bottom -12px
        img
            display block
            margin-right 12px
            margin-bottom 12px
            &:nth-child(3n)
                margin-right 0
    .manual
        display block
        margin-top $rem(45)
        background $azulEscuro
        padding $rem(20)
        display flex
        align-items center
        justify-content flex-start
        transition background .3s, box-shadow .3s
        &:hover
            background lighten($azulEscuro, 5)
            box-shadow 0 3px 10px rgba($verde, .4)
        img
            width 112px
        .pdf
            width 60px
            height 60px
            background $verdeClaro
            border-radius 100%
            position relative
            margin-left -15px
            flex-shrink 0
            &:after
                content ''
                width 16px
                height 18px
                position absolute
                top 50%
                left 50%
                transform translate(-50%, -50%)
                background $img('ico-PDF.png') no-repeat center
                background-size 100% auto
        .manual-texto
            margin-left 36px
            exo 42 light
            color $verdeClaro
            line-height 1
            span
                display block
                font-size $rem(16)
                margin-bottom .5em
                padding-left 24px
                background $img('ico-download.png') no-repeat left center
    .texto-2
        width 50%
        float right
        h2
            exo 22 light
            color $azul
    +below($tablet)
        .certificacoes
            display block
            font-size 0
            clearfix()
            img
                display block
                float left
                width calc('50% - 6px')
                max-width 154px
                &:nth-child(3n)
                    margin-right 12px
                &:nth-child(2n)
                    margin-right 0
                &:nth-child(2n + 1)
                    clear left
        .manual
            img
            .pdf
                display none
            .manual-texto
                margin 0
    +mobile()
        .bg
            height auto
            min-height auto
            img
                display none
            + .center
                padding-top $rem(30)
        .texto-1
            width 100%
            padding $rem(25) 0
        .certificacoes-manual
        .texto-2
            width 100%
        .texto-2
            margin-top 30px
        .manual
            margin-top $rem(30)
