.quem-somos
    text-align center
    .texto
        max-width $rem(650)
        margin 0 auto
    .quem-somos-textos
        margin-top $rem(60)
        display flex
        justify-content center
        flex-wrap wrap
        > div
            max-width 195px
            margin 0 40px 40px
            &:last-child
                margin-bottom 0
            img
                display block
                width 100%
            h3
                exo 28 light
                color $azul
                margin .6em 0
                text-transform uppercase
            p
                exo 14
                margin 0
                color $azulEscuro
    +mobile()
        .quem-somos-textos
            margin-top $rem(45)
            flex-direction column
            align-items center
            > div
                margin 0 0 30px
                width 100%
                h3
                    font-size 22px
