.representantes
    margin-top 0
    padding $rem(50) 0 $rem(30)
    position relative
    .bg
        width 100%
        height 560px
        background $azulBg
        border-top 2px solid #fff
        position absolute
        top 0
        left 0
    .center
        clearfix()
    .texto
        width calc('100% - 500px')
        float left
    select
        width 100%
        display block
        max-width 400px
        height 40px
        padding 0 10px
        padding-right 20px
        appearance none
        border 0
        outline 0
        background $img('seta-combobox-busca.png') no-repeat right 10px center #fff
        cursor pointer
        exo 16
        color $azulEscuro
        + select
            margin-top 5px
        &:disabled
            opacity .65
            color #666
            cursor not-allowed
    .mapa
        width 490px
        height 495px
        background $img('BRASIL.png') no-repeat center
        position relative
        float right
        margin-top -20px
        +below($tablet)
            display none
        a
            position absolute
            display block
            text-indent -9999px
            background-size 100% 100%
            background-position center
            background-repeat no-repeat
            opacity 0
            transition opacity .3s
            &:hover
            &.active
                opacity 1
            &.ac
                width 92px
                height 49px
                top 165px
                left 0
                background-image $img('AC.png')
                z-index 2
            &.al
                width 39px
                height 24px
                right 5px
                top 184px
                background-image $img('AL.png')
            &.am
                width 218px
                height 158px
                top 39px
                left 2px
                background-image $img('AM.png')
            &.ap
                width 63px
                height 70px
                top 11px
                left 240px
                background-image $img('AP.png')
                z-index 2
            &.ba
                width 113px
                height 125px
                top 179px
                left 342px
                background-image $img('BA.png')
            &.ce
                width 52px
                height 66px
                top 105px
                left 409px
                background-image $img('CE.png')
            &.df
                width 15px
                height 10px
                top 261px
                left 319px
                background-image $img('DF.png')
                z-index 3
            &.es
                width 29px
                height 44px
                top 297px
                left 393px
                background-image $img('ES.png')
                z-index 2
            &.go
                width 90px
                height 89px
                top 224px
                left 259px
                background-image $img('GO.png')
                z-index 2
            &.ma
                width 88px
                height 118px
                top 81px
                left 317px
                background-image $img('MA.png')
                z-index 2
            &.mg
                width 137px
                height 111px
                top 248px
                left 284px
                background-image $img('MG.png')
            &.ms
                width 88px
                height 89px
                top 283px
                left 200px
                background-image $img('MS.png')
            &.mt
                width 141px
                height 136px
                top 158px
                left 156px
                background-image $img('MT.png')
            &.pa
                width 164px
                height 158px
                top 33px
                left 187px
                background-image $img('PA.png')
            &.pb
                width 48px
                height 30px
                top 148px
                left 441px
                background-image $img('PB.png')
                z-index 2
            &.pe
                width 81px
                height 29px
                top 163px
                left 408px
                background-image $img('PE.png')
            &.pi
                width 70px
                height 102px
                top 104px
                left 350px
                background-image $img('PI.png')
                z-index 3
            &.pr
                width 75px
                height 53px
                top 352px
                left 244px
                background-image $img('PR.png')
                z-index 2
            &.rj
                width 46px
                height 29px
                top 334px
                left 358px
                background-image $img('RJ.png')
                z-index 2
            &.rn
                width 44px
                height 28px
                top 133px
                left 444px
                background-image $img('RN.png')
            &.ro
                width 88px
                height 72px
                top 169px
                left 91px
                background-image $img('RO.png')
            &.rr
                width 76px
                height 85px
                top 0px
                left 112px
                background-image $img('RR.png')
            &.rs
                width 88px
                height 86px
                top 409px
                left 211px
                background-image $img('RS.png')
            &.sc
                width 61px
                height 43px
                top 395px
                left 252px
                background-image $img('SC.png')
            &.se
                width 23px
                height 27px
                top 192px
                left 445px
                background-image $img('SE.png')
            &.sp
                width 104px
                height 72px
                top 317px
                left 261px
                background-image $img('SP.png')
            &.to
                width 61px
                height 103px
                top 133px
                left 291px
                background-image $img('TO.png')
    .representantes-lista
        max-width 400px
        margin-top $rem(55)
        .nenhum
            width 100%
            border 1px solid rgba($azulEscuro, .45)
            padding 15px
            exo 14
            color $azulEscuro
        .representante
            background #D9E2E2
            padding $rem(30) $rem(40)
            + .representante
                border-top 2px solid #fff
            exo 16
            color $azulEscuro
            .cadastro
                margin-bottom 1.5em
            span
                display block
                margin-bottom 4px
                &.titulo
                    font-weight bold
                    text-transform uppercase
                &.telefone
                    padding-left 22px
                    background $img('ico-telefone.png') no-repeat center left
            .email
                padding-left 22px
                background $img('ico-email.png') no-repeat center left
                &:hover
                    color $verde
    +below($tablet)
        background $azulBg
        border-top 2px solid #fff
        .bg
            display none
        .texto
            width 100%
    +mobile()
        padding-top $rem(30)
        .representantes-lista
            margin-top 25px
